@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto";
  font-size: large;
}
.notepad {
  outline: none;
  height: 80%;
  width: 100%;
  border: 0.5px solid #bbb;
  padding: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  font-size: large;
  font-family: "Roboto";
  overflow: auto;
}
@media print {
  *::after {
    display: none;
    visibility: hidden;
  }
  iframe::after {
    display: block;
    visibility: visible;
    margin: 0;
  }
  .notepad {
    border: none !important;
    margin: 0;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    font-family: "Roboto";
  }
}
