.ribbon {
  width: 100%;
  height: 80px;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.notepad_frame {
  margin: auto;
}
#notepad {
  height: 999px;
  width: 100%;
}
.ribbon_btn {
  border: 0.5px solid #000000;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #ffffff;
  font-size: larger;
}
.ribbon_btn:hover {
  background-color: rgba(238, 238, 238, 0.904);
}
@media print {
  *::after {
    display: none;
    visibility: hidden;
  }
  iframe::after {
    display: block;
    visibility: visible;
    border: 0.5px solid #ff0000 !important;
    margin: 0;
  }
  .notepad {
    border: 0.5px solid #ff0000 !important;
    margin: 0;
  }
}
